<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="./img/icon.png">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This app was made by Dylan Lauzon.  It uses data from WeatherStack and Mapbox. It was created as an exercise 
            in learning node.js, express, handlebars, and backend work in general. 
        </p>
        <img class="portrait" src="/img/me.png">
    </div>


    {{>footer}}
</body>
</html>