<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="./img/icon.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Get help on <a href="https://github.com/dfrl-dev/weather-app">github</a></p>
    </div>


    {{>footer}}
</body>
</html>