<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="./img/icon.png">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this page to get your weather forecast.</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>
        
        <input type="radio" id="fahrenheit" name="units" value="&units=f">
        <label for="fahrenheit">Fahrenheit</label>
        <input type="radio" id="celcius" name="units" value="&units=m" checked>
        <label for="fahrenheit">Celcius</label>
        <input type="radio" id="kelvin" name="units" value="&units=s">
        <label for="fahrenheit">Kelvin</label>
        

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>


    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>